<header>
<nav>
    <h1>TECHIESales</h1>
    <ul>
        <li><a class="btn btn-primary" href="/login">Login</a></li>
        <li><a class="btn btn-secondary" href="/">Home</a></li>
        <li><a class="btn btn-secondary" href="#">Contact</a></li>
    </ul>
</nav>
</header>