<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>TECHIESales</title>
</head>
<body>
    <h1>TECHIESales</h1>

    <div id="infoDiv"></div>
    
    <script>
        $(()=>{
            $("#infoDiv").append("<h3>JavaScript is working!</h3>");
        })
    </script>
</body>
</html>